{% extends 'plantillas/base.html' %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}

    {% include 'plantillas/navbar.html' %}

    <div class="container">
      <div class="page-header">
          <h4>
              <a href="{% url 'panel' %}" class=" btn btn-success">
                  <span class="glyphicon glyphicon-chevron-left"></span>Regresar
              </a>
              <strong>{{ name }}</strong>
          </h4>
      </div>
      <div class="row">
          <div class="col-md-6">
              <form role="form" autocomplete="off" method="post" enctype="multipart/form-data">
                  <p class="lead"><span class="glyphicon glyphicon-info-sign"></span> {{ info }} </p>
                    <div class="form-group">
                        {% csrf_token %}
                        <span>Seguro que desea eliminar {{ object.name }} con la categoria {{ object.category.name }}</span>
                    </div>
                    <div class="btn-row">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
              </form>
          </div>
       </div>
    </div>

{% endblock %}