{% extends "plantillas/base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}

    {% include "plantillas/navbar.html" %}

    <div class="container">

        <div class="page-header">
            <h4>
                <a href="{% url 'panel' %}" class="btn btn-success">
                    <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                </a>
                <strong>Evento: {{ object.name }} </strong>
            </h4>
        </div><!-- page-header -->

        <div class="row">

            <div class="col-md-3 text-center">
                <img src="{{ object.imagen.url }}" alt="{{ event.name }}" class="img-rounded">
            </div>

            <div class="col-md-9">

                <table class="table">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <td>{{ object.name }}</td>
                        </tr>
                        <tr>
                            <th>Category</th>
                            <td>{{ object.category.name }}</td>
                        </tr>
                        <tr>
                            <th>Content</th>
                            <td>{{ object.content }}</td>
                        </tr>
                        <tr>
                            <th>Start / Finish</th>
                            <td>{{ object.start }} / {{ event.finish }}</td>
                        </tr>
                        <tr>
                            <th>Place</th>
                            <td>{{ object.place }}</td>
                        </tr>
                        <tr>
                            <th>Amount</th>
                            {% if event.is_free %}
                                <td><span class="label label-default">Gratuito</span></td>
                            {% else %}
                                <td><span class="label label-info">S/. {{ object.amount }}</span></td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>

            </div><!-- col-md-12 -->

        </div><!-- /row -->

    </div><!-- /container -->

{% endblock content %}