{% extends 'plantillas/base.html' %}
{% block title %}Panel De Control{% endblock title %}

{% block content %}

    {% include 'plantillas/navbar.html' %}

    <div class="container">

        <div class="page-header">
            <h4>
                <strong>{{ user.first_name }} Tienes <span class="label label-warning">{{ cantidad }}</span>  Eventos disponibles </strong>
                <a class="btn btn-primary pull-right" href="{% url 'panel-create-event' %}">
                    <span class="glyphicon glyphicon-plus"></span> Crear un evento nuevo
                </a>
            </h4>
        </div><!-- page-header -->

        <div class="row">

            <div class="col-md-12">

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th colspan="2">Nombre del evento</th>
                            <th>Categoría</th>
                            <th>Inicio</th>
                            <th>Fin</th>
                            <th>Monto</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in events %}
                        <tr>
                            <td>
                                <img src="{{ event.imagen.url }}" alt="{{ event.name }}" width="60" class="img-rounded">
                            </td>
                            <td>{{ event.name }}</td>
                            <td>{{ event.category.name }}</td>
                            <td>{{ event.start }}</td>
                            <td>{{ event.finish }}</td>
                            <td>
                                {% if event.free %}
                                    <span class="label label-default">Gratuito</span>
                                {% else %}
                                    <span class="label label-info">S/. {{ event.amount }}</span>
                                {% endif %}
                            </td>
                            <td class="text-right">
                                <a href="{% url 'panel-detail-event' event.id %}" class="btn btn-success"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a href="{% url 'panel-update-event' event.id %}" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a href="{% url 'panel-delete-event' event.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div><!-- col-md-12 -->

        </div><!-- /row -->

    </div><!-- /container -->

{% endblock %}