<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block tittle %}{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/eventus.css' %}">
        <link rel="stylesheet" href="{% static 'css/datepicker.css' %}">

    {% endblock %}
</head>
<body>

    {% include 'plantillas/mensajes.html' %}
    {% block content %}

    {% endblock %}

    {% block javascript %}
        <script src="{% static 'js/jquery-2.2.1.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    {% endblock %}
    {% block complementoJS %}


    {% endblock %}

</body>
<footer>
    <div class="container">
      <div class="well" align="center">Powered by Django {{ version }}</div>
    </div>
</footer>
</html>