{% for field in form %}
        {% if not field.is_hidden %}
            <div class="dgtic-form-row">
                <label class="dgtic-form-label">
                    {{ field.label }}
                    {% if field.field.required %}
                        <b style="color: red;">*</b>
                    {% endif %}
                </label>

                <div class="text-error">
                    <ul class="unstyled">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="dgtic-form-item">
                    {{ field }}
                </div>
                <div class="help_text">
                    <span class="muted">
                        {{ field.help_text }}
                    </span>
                    <span class="muted" id="guia_{{ field.name }}"></span>
                </div>
            </div>
        {% else %}
            {{ field }}
        {% endif %}
{% endfor %}