<div class="row-fluid">
     {% if messages %}
         <div class="span12">
             <ul class="messages" style="list-style: none; margin-left: 0px">
                 {% for message in messages %}
                    <li{% if message.tags %}
                        class="alert alert-success {{ message.tags }}"
                       {% endif %}>
                        {% if 'safe' in message.tags %}
                            {{ message|safe }}
                        {% else %}
                            {{ message }}
                        {% endif %}
                    </li>
                 {% endfor %}
             </ul>
         </div>
     {% endif %}
</div>